<div id="<%= dom_id lesson %>">
  <p>
    <strong>User:</strong>
    <%= lesson.user_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= lesson.classroom_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= lesson.course_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= lesson.status %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= lesson.start %>
  </p>

</div>
